@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the appservice by Pranav Singh Solanki via VS code Deployment</h1>
    <h5 class="display-5"> This line of the code editted into the visual studio while checking the continuous deployment</h5>

</div>
